MP_ACCESS_TOKEN=YOUR_MP_ACCESS_TOKEN
FRONTEND_URL=http://localhost:5173
PORT=3000
MONGODB_URI=mongodb://localhost:27017/raffle
NODE_ENV=development
SECRET_KEY=
ADMIN_PASSWORD=
BOLD_API_SECRET=YOUR_BOLD_API_SECRET
BOLD_API_KEY=YOUR_BOLD_API_KEY
OPENPAY_API_KEY=YOUR_OPENPAY_API_KEY
OPENPAY_API_SECRET=YOUR_OPENPAY_API_SECRET
OPENPAY_MERCHANT_ID=YOUR_OPENPAY_MERCHANT_ID
OPENPAY_API_URL=YOUR_OPENPAY_API_URL